<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Structural directive</h1>
    <button (click)="toggle()">Toggle</button>
    
    <ng-template #elseBlock>
        When false
    </ng-template>

    <div *ngIf="displayName ; then thenBlock ; else elseBlock">

    </div>

    <ng-template  #thenBlock>
        Show if
    </ng-template>

    <ng-template  #elseBlock>
        Show else
    </ng-template>

</body>
</html>