<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="" [(ngModel)]="firstNumber"><br>
    <input type="text" name="" id="" [(ngModel)]="secondNumber"><br>
    <input type="submit" value="Add" (click)="add()"><br>
    {{result}}<br>
    <input type="text" name="" [(ngModel)]="name" id=""><br>
    {{name}}
    Hi <br>
    {{name | lowercase}}
    {{person | json}}<br>
    <h2>Employee list</h2>
    <ul *ngFor="let employee of employees" >
        {{employee.name}}
    </ul>
</body>
</html>